body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



header {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    padding:20px;
}

header h3{
    align-items: left;
    padding: 20px;
}

.nav-bar {
    margin-left:1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

a{
    padding:10px;
    text-decoration: none;
    color:#000;
}